.container {
  background-color: #141313c9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 550px;
  overflow-y: auto;
  width: 50%;
  z-index: -9999;
}
@media screen and (max-width: 768px) {
    .container{
      width: 100%;
    }
}

.erro {
  background-color: #141313;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.img_erro {
  width: 80%;
}
